# Numbers

Some examples of numbers

In [4]:
3/2

1.5

In [6]:
1+2

3

In [9]:
1-2

-1

Squaring a number or finding the square root

In [8]:
4**2

16

In [10]:
4**0.5

2.0

Order of operation - can be used to specify using paranthesis

In [12]:
2 + 10*10 + 3

105

In [14]:
(2+10)*(10+3)

156

Labels and assigning labels

In [16]:
x=10

In [18]:
x

10

In [19]:
x=20

In [20]:
x

20

In [22]:
quantity = 10
price =24.5

In [23]:
bill_amount = quantity*price

In [24]:
bill_amount

245.0

# Strings - Basics

In [26]:
'Hello Strings'

'Hello Strings'

In [28]:
"Hello Strings"

'Hello Strings'

In [30]:
"I'm a string"

"I'm a string"

In [32]:
len("I'm a string")

12

In [34]:
a = "Introduction to Python"

In [35]:
a[1]

'n'

In [36]:
a[1:3]

'nt'

In [37]:
a[3:]

'roduction to Python'

In [38]:
a[:3]

'Int'

In [52]:
a[::1]

'Introduction to Python'

In [53]:
a[::2]

'Itouto oPto'

In [41]:
a[-1]

'n'

In [51]:
a[:-1]

'Introduction to Pytho'

###  Quick Evaluation

Reverse a string using what was shown above

## Print Formatting

Method 1 : Using the format function

In [55]:
name = 'Ankur'

In [122]:
print ('Hello {}'.format(name))

Hello Ankur

In [64]:
'Hello this is {} training'.format('Python')

'Hello this is Python training'

In [66]:
'Hello {name} you work in {company}'.format(name='Ankur',company='Ericsson')

'Hello Ankur you work in Ericsson'

Method 2: Using String interpolation/f-strings

In [68]:
f'Hello {name}'

'Hello Ankur'

In [72]:
company='Ericsson'

f'Hello {name} you work in {company}'

'Hello Ankur you work in Ericsson'

In [78]:
tax=0.02
'The tax rate is: {:1.1f}'.format(tax)

'The tax rate is: 0.0'

# Lists

In [82]:
first_list=[1,2,3]

In [84]:
first_list

[1, 2, 3]

In [86]:
second_list=[1,2,3,'some number']
print(second_list)

[1, 2, 3, 'some number']

In [88]:
second_list[0]

1

In [90]:
len(second_list)

4

In [93]:
new_list = first_list + second_list
new_list

[1, 2, 3, 1, 2, 3, 'some number']

In [97]:
store = new_list.pop()
store
new_list

[1, 2, 3]

In [103]:
alphabets = ['e','a','c','x','r']
alphabets.sort()
print (alphabets)

['a', 'c', 'e', 'r', 'x']

In [106]:
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

final_l = [l_1,l_2,l_3]
final_l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [108]:
final_l[0][2]

3

### List Comprehension

List comprehension comprises of 4 parts

* Output sequnce
* Input Sequence
* Variable representing member of input sequence
* Optinal Predicate Part

In [112]:
squares_even = [x**2 for x in range(0,11) if x%2 == 0]
squares_even

[0, 4, 16, 36, 64, 100]

## Dictionaries

In [115]:
d = {'a': 1,'b':2,'c':3 }
d['a']

1

In [117]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [119]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [123]:
nested = {'first':{'second':{'third':'value'}}}
nested['first']['second']['third'].upper()

'VALUE'

## Files

In [125]:
pwd

'C:\\Users\\eaarccy\\OneDrive - Ericsson AB\\Documents\\Important_Personal\\DataScientist'

In [137]:
f = open('testnew.txt','r')
f.read()

'Some data that needs to be read'

In [140]:
f.read()
f.seek(0)

0

In [142]:
f.read()

''

In [144]:
%%writefile demo.txt
This is a demo
Iterate over this file
Then display its contents

Overwriting demo.txt

In [146]:
for data in open('demo.txt'):
    print(data)

This is a demo

Iterate over this file

Then display its contents

In [149]:
file = open('demo.txt')
read_lines = file.readlines()
read_lines

['This is a demo\n', 'Iterate over this file\n', 'Then display its contents\n']

### Chained comparision operators

In [151]:
1 < 2 <3

True

In [153]:
1 < 2 and 2 < 3

True

# if elif else Statements

In [155]:
name = 'Ankur'

if name == 'Ankur':
    print('Hello Ankur')
else:
    print("What's your name?")

Hello Ankur

In [159]:
num=None

if num:
    print("There was a something stored")
else:
    print("There was nothing stored")
    print(num)

There was nothing stored
None

# For Loops

In [162]:
for_list=[1,2,3,4]
for data in for_list:
    print(data)

1
2
3
4

In [164]:
dictionary = {'first': 1,'second': 2,'third': 3,'fourth':4}
for data in dictionary:
    print(data)

first
second
third
fourth

In [171]:
for k,v in dictionary.items():
    print(k)
    print(v)

first
1
second
2
third
3
fourth
4

In [173]:
for data in dictionary:
    print(dictionary[data])

1
2
3
4

In [175]:
for data in "Hello World":
    print(data)

H
e
l
l
o

W
o
r
l
d

# While Loops

In [177]:
x=0
while x < 10:
    print('The current value of x is :{}'.format(x))
    x+=1

The current value of x is :0
The current value of x is :1
The current value of x is :2
The current value of x is :3
The current value of x is :4
The current value of x is :5
The current value of x is :6
The current value of x is :7
The current value of x is :8
The current value of x is :9

In [179]:
x=0
while x < 10:
    print('The current value of x is :{}'.format(x))
    x+=1
else:
    print("We're done with the execution")

The current value of x is :0
The current value of x is :1
The current value of x is :2
The current value of x is :3
The current value of x is :4
The current value of x is :5
The current value of x is :6
The current value of x is :7
The current value of x is :8
The current value of x is :9
We're done with the execution

In [181]:
###break,continue and pass

In [183]:
x=0
while x < 10:
    print('The current value of x is :{}'.format(x))
    x+=1
    if x == 3:
        break
    else:
        print('x is not yet 3')

The current value of x is :0
x is not yet 3
The current value of x is :1
x is not yet 3
The current value of x is :2

In [185]:
x=0
while x < 10:
    print('The current value of x is :{}'.format(x))
    x+=1
    if x ==3:
        continue
        print('x is now 3')
    else:
        print('x is something other than 3')
        print(x)

The current value of x is :0
x is something other than 3
1
The current value of x is :1
x is something other than 3
2
The current value of x is :2
The current value of x is :3
x is something other than 3
4
The current value of x is :4
x is something other than 3
5
The current value of x is :5
x is something other than 3
6
The current value of x is :6
x is something other than 3
7
The current value of x is :7
x is something other than 3
8
The current value of x is :8
x is something other than 3
9
The current value of x is :9
x is something other than 3
10

## Range function

In [193]:
x = range(20)
l = [x for x in range(20)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [195]:
type(l)

list

In [198]:
start = 5
stop = 25
step = 2
l = [x for x in range(start,stop,step)]
l

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

## List Comprehensions

In [201]:
lst = [x for x in range(0,11) if x%2 ==0]
lst

[0, 2, 4, 6, 8, 10]

# Methods

In [204]:
di ={'a': 1,'b':2}
help(di.values)

Help on built-in function values:

values(...) method of builtins.dict instance
    D.values() -> an object providing a view on D's values

In [206]:
l = [1,2,3,4]
l.count(1)

1

# Functions

In [209]:
def add_num_print(num1,num2):
    print (num1 + num2)

In [211]:
add_num_print(1,2)

3

In [213]:
def add_num_ret(num1,num2):
    return num1+num2

In [215]:
print(add_num_ret(1,2))

3

In [223]:
def is_prime(num):
    '''
    This function checks whether the number is prime or not
    
    '''
    for n in range(2,num):
        if num % n == 0:
            print("This is not a prime number")
            break
    else:
        print('This is a Prime Number')

In [218]:
is_prime(13)

This is a Prime Number

In [220]:
is_prime(2)

This is a Prime Number

In [222]:
is_prime(4)

This is not a prime number

# Lambda Expressions

In [225]:
def cube(num):
    res=num**3
    return res

In [227]:
cube(3)

27

In [230]:
cube_lambda=lambda num:num**3

In [232]:
cube_lambda(3)

27

In [233]:
adder = lambda x,y:x+y

In [234]:
adder(2,3)

5

In [235]:
even = lambda num:num%2==0

In [237]:
even(1)

False

In [238]:
even(2)

True

Write a python function that takes in a string and returns the number of uppercase and lower case characters in the string?

In [240]:
def count_case(data):
    upper=[]
    lower=[]
    for word in data:
        if word.isupper():
            upper.append(word)
        else:
            lower.append(word)
    print('The number of upper case characters is : {}'.format(len(upper)))
    print('The number of lower case characters is : {}'.format(len(lower)))

In [242]:
count_case('Here I am,This is me')

The number of upper case characters is : 3
The number of lower case characters is : 17

Write down a python function that takes in a list and returns a list with only the unique elements of the list?

In [244]:
def list_unique(some_list):
    e=[]
    for element in some_list:
        if element in e:
            continue
        else:
            e.append(element)
    return e

In [246]:
list_unique([1,2,2,4,5])

[1, 2, 4, 5]

Write a python function to check if string is palindrome or not?

In [251]:
def check_palindrome(some_string):
    reverse_string=some_string[::-1]
    if reverse_string == some_string:
        return True
    else:
        return False

In [253]:
check_palindrome('Hello')

False

In [254]:
check_palindrome('rotator')

True